div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    display:i;
}
.picture {
    width: 100px;
    height: 100px;
    position:flex;
    line-height: 90px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 24px;
    border-width: 0px;
    border-style: solid;
    border-color: #777;
    background: transparent none repeat scroll 0% 0%;
    margin: 0 auto;
    z-index: inherit auto;
    left: 200px;
    top: 20px;
    
}

/*.picture.p1{
    background-image: linear-gradient(to bottom right,rgb(11,98,246),rgb(3,49,115));
   
   
}
.picture.p2{
    background-image: linear-gradient(to bottom right,rgb(252,126,132),rgb(175,83,87));
    
    
}
.picture.p3{
    background-image: linear-gradient(to bottom right,rgb(158,59,246),rgb(57,46,97));

}
.picture.p4{
    background-image: linear-gradient(to bottom right,rgb(162,147,78),rgb(52,44,25));
    

}
.picture.p5{
    background-image: linear-gradient(to bottom right,rgb(29,227,221),rgb(29,79,58));
    

}
.picture.p6{
    background-image: linear-gradient(to bottom right,rgb(250,2,8),rgb(93,65,67));
    

}
.picture.p7{
    background-image: linear-gradient(to bottom right,rgb(207,219,246),rgb(114,116,206));
    

}
.picture.p8{
    background-image: linear-gradient(to bottom right,rgb(252,125,123),rgb(203,183,185));
    

}
.picture.p9{
    background-image: linear-gradient(to bottom right,rgb(125,252,123),rgb(197,202,189));
    

}
.picture.p10{
    background-image: linear-gradient(to bottom right,rgb(71,5,50),rgb(155,159,152));
    

}
*/


.wenzi {
    height: 30px;
    line-height: 30px;
}


.wrapper a {
    outline:none;
    text-decoration: none;
}

.wrapper a span {
    color: #777;
    text-align: center;
    display: block;
}
.wrapper a:hover span {
    color: #555;
}

.wrapper a:hover span.tupian {
    border-color: #555;
}

div.bar {
    transform: translateY(-35%);
    position:flex;
    height: 10pt;
    line-height: 10pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 2pt;
    border-width: 2px;
    border-right-width: 1px;
    
   
    border-radius:20px;
    border-color: #555;
    background-color: #eeeeee;
    display: block;
    width: 50%;
    left: 0px;
    top: 1px;
    z-index:1;
}
div.text-wrapper {
	transform: translateY(-35%);
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    line-height: 20pt;
    color: black;
    display: inline-block;
}
div.equality {
    background-image: linear-gradient(to bottom right,rgb(252,126,132),rgb(175,83,87));
    text-align: left;
    border-right-style: solid;
}
div.wealth {
    background-color: #00897b;
    text-align: right;
    border-left-style: solid;
}
div.liberty {
    background-color: #ffeb3b;
    text-align: left;
    border-right-style: solid;
}
div.authority {
    background-color: #3f51b5;
    text-align: right;
    border-left-style: solid;
}
div.peace {
    background-color: #03a9f4;
    text-align: left;
    border-left-style: solid;
}
div.might {
    background-color: #ff9800;
    text-align: right;
    border-right-style: solid;
}

div.tradition {
    background-color: #8bc34a;
    text-align: right;
    border-right-style: solid;
}
div .progress1 {
    background-color: #9c27b0;
    text-align: left;
    border-right-style: solid;
}
div .ecology{
    background-color: #00FF5D;
    text-align: left;
    border-left-style: solid;
}
div .production{
    background-color: #C65D00;
    text-align: right;
    border-left-style: solid;
}
span.weight-300 {
    font-weight: 300;
}
#banner {
	
    border-color: #444444;
    border-style: solid;
    border-width: 10px;
    border-radius: 10pt;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
}
